.about-header-section{
    width: 100%;
    height: 600px;
}
.about-header-section img{
    width: 100%;
    height: 100%;
}

.gallery-section{
    padding: 10px 0 20px;
    width: 100%;
}
.gallery-section-item{
    width: 100%;
    height: 300px;
    margin: 10px 0;
}
.gallery-section-item img{
    width: 100%;
    height: 100%;

}